[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
redis = "*"
celery = "*"
python-dotenv = "*"
Pillow = "*"
pytest = "*"
pytest-asyncio = "*"
aiomock = "*"
asyncmock = "*"


[scripts]
# Syntax: <command> = "<path_to_python> <path_to_manage.py> <command_options>"
bot = "pipenv run python bot.py"
tests = "pipenv run pytest tests/bot_test.py"


[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
